li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  width: 1280px;
}
.hero {
  background-color: #06071b;
  color: #fff;
}
.hero-back {
  display: flex;
  background-repeat: no-repeat;
  margin-top: 168px;
  margin-right: 46px;
}

.hero-for-back {
  position: absolute;
  background-color: #06071b;
  height: 684px;
}

.hero-for-back:nth-child(2) {
  z-index: 998;
  background: rgba(0, 0, 0, 0);
}
